.header {
    display: flex;
    width: 1280px;
    margin: 0 auto;

}

.header img {
    width: 40%;
    display: flex;
}

.header-cont {
    width: 60%;
    display: flex;
    text-align: center;
    margin: auto;
    justify-content: space-between;
}

.header p {
    margin: 0 auto;
    text-align: center;
}

p {
    color: black;
    font-size: 24px;
}

.main-text24 {
    color: white;
    font-size: 24px;
}

.main-text100 {
    color: white;
    font-size: 100px;
}

.main-text-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-panel-out {
    position: relative;
    height: 672px;
    width: 1280px;
    background-image: url(../images/index_main.png);
    margin: 0 auto;
}

.main-contents {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 542px;
    width: 954px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}