html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    width: 1280px;
    margin: 0 auto;

}

.header img {
    width: 512px;
    display: flex;
}

.header-cont {
    width: 768px;
    display: flex;
    text-align: center;
    margin: auto;
    justify-content: space-between;
}

.header ul {
    width: 768px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.header li {
    padding: 10p;
    color: black;
    font-size: 24px;
}

.main-text {
    color: white;
    font-size: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* 追加 */
    align-items: center;
    flex-direction: column;
}

.main-text-sub {
    display: block;
    font-size: 24px;
}


.main-panel-out {
    height: 672px;
    width: 1280px;
    background-image: url(../images/index_main.png);
    margin: 0 auto;
    display: flex;
    /* 追加 */
    justify-content: center;
    align-items: center;
}

.main-contents {
    height: 542px;
    width: 954px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.contents_title {
    background-color: #FFD952;
    width: 566px;
    height: 73px;
    margin: 0 auto;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    border-bottom-left-radius: 45px;
}

.contents_title h2 {
    height: 73px;
    font-size: 36px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#why_ai {
    background-color: white;
}

#work {
    background-color: #f8f8f8;
}

#skills {
    background-color: white;
}

#faq {
    background-color: #F8F8F8;
}

.contents {
    height: 597px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.contents_list {
    width: 954px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.img_wrap img {
    width: 303px;
    height: 400px;
    object-fit: cover;
}

.work_contents {
    height: 902px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.work_contents_list {
    height: 681px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.work_block {
    width: 955px;
    height: 147px;
    object-fit: cover;
    display: flex;
    margin: 0 auto;
    /* preview */
    background-color: #fff;

    /* drop-shadow */
    filter: drop-shadow(0px 7px 2px rgba(0, 0, 0, 0.6));
}

.work_image {
    width: 243px;
    height: 147px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work_image img {
    margin: 0 auto;
}

.work_text {
    width: 713px;
    height: 147px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.work_text h3 {
    font-size: 24px;
}

.work_text_sub {
    display: block;
    font-size: 16px;
}

.skill_contents {
    height: 755px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.skill_contents_list {
    width: 953px;
    height: 546px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    flex-wrap: wrap;
    align-content: space-between;
}

.skill_text {
    width: 303px;
    height: 252px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    /* preview */
    background-color: #fff;

    /* drop-shadow */
    filter: drop-shadow(0px 7px 2px rgba(0, 0, 0, 0.6));
}

.skill_text h3 {
    font-size: 28px;
    margin: 0 auto;
}

.skill_text_sub {
    width: 258px;
    height: 181px;
    margin: 0 auto;
}

.skill_text_sub h4 {
    font-size: 16px;
}

.faq_title_sub {
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
}

.faq_contents {
    height: 950px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.faq_contents_list {
    width: 630px;
    height: 750px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    flex-wrap: wrap;
    align-content: space-between;
}

.faq_text {
    background-color: #FFEE52;
    width: 630px;
    height: 56px;
}

.faq_text h3 {
    height: 56px;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.faq_text_center {
    width: 508px;
    height: 56px;
    margin: 0 auto;
}

.faq_text_sub {
    background-color: #fff;
    width: 630px;
    height: 180px;
}

.faq_text_sub h4 {
    font-size: 16px;
}

.faq_text_sub_center {
    width: 508px;
    margin: 0 auto;
}

.footer {
    height: 58px;
    background-color: #FFD952;
}

.footer h2 {
    height: 58px;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}